{% extends "layout.html" %}
{% block content %}
  <h2 class="page-heading">REGISTER</h2>

  <form method="POST" action="">
    <option>
      {{ form.ID.label }}
      {{ form.ID(class_="input-text") }}
    </option>

    <option>
      {{ form.name.label }}
      {{ form.name(class_="input-text") }}
    </option>

    <option>
      {{ form.adminID.label }}
      {{ form.adminID(class_="input-text") }}
    </option>

    <option>
      {{ form.credit.label }}
      {{ form.credit(class_="input-text") }}
    </option>

    {{ form.submit(class_="button submit") }}
  </form>
{% endblock content %}
