{% extends "settings-layout.html" %}
{% block settings %}
<h2 class="page-heading">UPLOAD</h2>

<form method="POST" action="">
  <option>
    {{ form.name.label(class_="input-text") }}
    {{ form.name }}
  </option>

  <option>
    {{ form.browse.label }}
    {{ form.browse(class_="button browse") }}
  </option>

  <option>
    {{ form.location.label }}
    {{ form.location(class_="input-text") }}
  </option>

  <option class="check-container">
    {{ form.confirm(class_="check-box confirm") }}
    <span class="checkmark"></span>
    {{ form.confirm.label }}
  </option>

  {{ form.submit(class_="button submit") }}
</form>
  </form>
{% endblock settings %}
