{% extends "layout.html" %}
{% block content %}
  <h2 class="page-heading">{{ drink.name }}</h2>
  {% if session['OpenBar'] == False %}
    <form method="POST" action="">
      <option>
        {{ form.ID.label }}
        {{ form.ID(class_="input-text") }}
      </option>

      <option class="check-container">
        {{ form.confirm(class_="check-box confirm") }}
        <span class="checkmark"></span>
        {{ form.confirm.label }}
      </option>

      {{ form.submit(class_="button submit") }}
    </form>

  {% else %}
  <form method="POST" action="">
    <option class="check-container">
      {{ form.confirm(class_="check-box confirm") }}
      <span class="checkmark"></span>
      {{ form.confirm.label }}
    </option>

    {{ form.submit(class_="button submit") }}
  </form>
  {% endif %}
{% endblock content %}
