<!DOCTYPE html>
<html>
  <head>
    {% if title %}
      <title>BoozeBot - {{title}}</title>
    {% else %}
      <title>BoozeBot</title>
    {% endif %}
  </head>
  <body>
    <header>
      <h1><a class="site-name" href="{{ url_for('home') }}">BoozeBot</a></h1>
      <nav class=>
        <div class="menu">
          <a href="{{ url_for('home') }}">Home</a>
          <a href="">About</a>
          <a href="{{ url_for('menu') }}">Menu</a>
        </div>
        <!-- Sign in menu -->
        <div class="user-nav">
          {% if  session['Auth'] %}
            {% if session['Auth'] == True %}
              <a href="{{ url_for('logout') }}">Logout</a>
              <a href="{{ url_for('setting') }}">Settings</a>
            {% else %}
              <a href="{{ url_for('login') }}">Admin</a>
              <a href="{{ url_for('register') }}">Register</a>
              <a href="{{ url_for('buyCredit') }}">Buy Credits</a>
            {% endif %}
          {% else %}
            <a href="{{ url_for('login') }}">Admin</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('buyCredit') }}">Buy Credits</a>
          {% endif %}
        </div>
      </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
