{% extends "settings-layout.html" %}
{% block settings %}
<h2 class="page-heading">SETTINGS</h2>

<form method="POST" action="">
  <option>
    {{ form.openBar.label }}
    {{ form.openBar(class_="check-box") }}
  </option>

  <option>
    {{ form.custom.label }}
    {{ form.custom(class_="check-box") }}
  </option>

  <option>
    {{ form.adminOveride.label }}
    {{ form.adminOveride(class_="check-box") }}
  </option>

  <option>
    {{ form.confirm(class_="check-box confirm") }}
    {{ form.confirm.label }}
  </option>

  {{ form.submit(class_="button submit") }}
</form>
{% endblock settings %}
