{% extends "layout.html" %}
{% block content %}
  {% if session['Auth'] %}
    {% if session['Auth'] == True %}
      <nav class="menu settings-menu">
        <ul>
          <li class="nav-item"><a href="{{ url_for('newMenu') }}">Upload Menu</a></li>
          <li class="nav-item"><a href="{{ url_for('selectMenu') }}">Select Menu</a></li>
          <li class="nav-item"><a href="{{ url_for('setting') }}">Settings</a></li>
        </ul>
      </nav>
      {% block settings %}{% endblock %}
    {% else %}
      <p>You need to be logged in as admin to access this page</p>
      <a href="{{ url_for('menu') }}">Return to Menu</a>
    {% endif %}
  {% else %}
    <p>You need to be logged in as admin to access this page</p>
    <a href="{{ url_for('menu') }}">Return to Menu</a>
  {% endif %}
{% endblock content %}
