{% extends "layout.html" %}
{% block content %}
  <h2 class="page-heading">LOGIN</h2>
  {% if session['Auth'] %}
    {% if session['Auth'] == True %}
      <p>Already Logged In</p>
    {% else %}
    <form method="POST" action="" id="login-form">
      <option>
        {{ form.ID.label }}
        {{ form.ID(class_="input-text") }}
      </option>

      {{ form.submit(class_="button submit") }}
    </form>
    {% endif %}

  {% else %}
  <form method="POST" action="" id="login-form">
    <option>
      {{ form.ID.label }}
      {{ form.ID(class_="input-text") }}
    </option>

    {{ form.submit(class_="button submit") }}
  </form>
  {% endif %}
{% endblock content %}