<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Themes/Standard.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    {% if title %}
      <title>BoozeBot - {{ title }}</title>
    {% else %}
      <title>BoozeBot</title>
    {% endif %}
  </head>



  <body>

    <header>
      <nav class="menu site-menu">
        <h1 id="site-heading"><a href="{{ url_for('home') }}">BoozeBot</a></h1>
        <menu>
          <ul>
            <a href="{{ url_for('home') }}"><li id="Setup">Setup</li></a>
            <a href="{{ url_for('menu.menu') }}"><li id="Menu">Menu</li></a>
            {% if  session['Auth'] %}
              {% if session['Auth'] == True %}
                  <a href="{{ url_for('setting') }}"><li id="Settings">Settings</li></a>
                  <a href="{{ url_for('logout') }}"><li id="Logout">Logout</li></a>
              {% else %}
                  <a href="{{ url_for('register') }}"><li id="Register">Register</li></a>
                  <a href="{{ url_for('buyCredit') }}"><li id="Buy-Credits">Credits</li></a>
                  <a href="{{ url_for('login') }}"><li id="Admin">Admin</li></a>
              {% endif %}
            {% else %}
                <a href="{{ url_for('register') }}"><li id="Register">Register</li></a>
                <a href="{{ url_for('buyCredit') }}"><li id="Buy-Credits">Credits</li></a>
                <a href="{{ url_for('login') }}"><li id="Admin">Admin</li></a>
            {% endif %}
          </ul>
        </menu>
      </nav>
    </header>

    <section id="popup-messages">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="popup-text">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <main>
      <article>
        {% block content %}{% endblock %}
      </article>
    </main>

    <footer>

    </footer>
  </body>
</html>
