{% extends "layout.html" %}
{% block content %}
  {% if session['Auth'] %}
    {% if session['Auth'] == True %}
      <nav class="menu settings-menu">
        <ul>
          <a href="{{ url_for('newMenu') }}"><li class="nav-item">Upload Menu</li></a>
          <a href="{{ url_for('selectMenu') }}"><li class="nav-item">Select Menu</li></a>
          <a href="{{ url_for('setting') }}"><li class="nav-item">Settings</li></a>
        </ul>
      </nav>
      {% block settings %}{% endblock %}
    {% else %}
      <h2 class="page-heading">Access Denied!</h2>
      <p>You need to be logged in as admin to access this page</p>
      <a href="{{ url_for('menu.menu') }}">Return to Menu</a>
      <img src="/templates/Themes/Theme-Images/loading.gif">
    {% endif %}
  {% else %}
    <p>You need to be logged in as admin to access this page</p>
    <a href="{{ url_for('menu.menu') }}">Return to Menu</a>
  {% endif %}
{% endblock content %}
